@import './globals.scss';
@import './navbar.scss';

.main-footer{
    position: relative;
    background: $dark;
    padding: 5em 0px;
    padding-bottom: 0;
}

.ft-head{
    font-size: 20px;
    font-weight: 600;
    color: $white;
    margin-bottom: 10px;
}

.ft-content{
    position: relative;
    margin: 1.5em 0px;

    p.para{
        color: $white;
        opacity: 0.45;

    }
}

.newsletter-container{
    position: relative;
    display: flex;
    align-items: stretch;
    gap: 10px;

    input{
        padding: 12px 20px;
        border-radius: 100px;
        border: 1px solid #FFFFFF;
        background: transparent;

        &::placeholder{
            color: white;
            opacity: 0.65;
            font-size: 14px;
        }
    }

    button{
        padding: 12px 30px;
        text-transform: uppercase;
        color: $dark;
        background: $gr;
        border-radius: 100px;
        font-weight: 500;
        font-size: 14px;
        
    }
}
.ft-list{

    li{

        a{
            display: inline-block;
            color: white;
            padding: 10px 0px;
            font-size: 14px;
            font-weight: 600;
            opacity: 0.65;
        }
    }
}

.ft-logo{
    position: relative;
    width: 140px;
    display: inline-block;

    img{
        width: 100%;
    }
}
.ft-bottom{
    margin-top: 5em;
    background: #061618;
    padding: 23px 0px;

    .para{
        font-size: 14px;
        margin-bottom: 0;

        a{
            color: $green;
        }
    }
}

.main-banner{
    position: relative;
    width: 100%;
    min-height: 62vh;
    transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    display: block;

    .container, .banner-inner-area{
        min-height: 62vh;
    }

    > picture > img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .banner-content{
        position: relative;
        z-index: 5;
        padding: 3em 0px;
        padding-left: 20%;

        h1{
            font-size: 68px;
            font-weight: 400;
            font-family: 'sansburg', sans-serif;
            line-height: 100%;
            margin-bottom: 0.25em;

            span{
                color: rgba($color: #000000, $alpha: 0.65);
            }
        }

        p{
            font-family: 'sansburg', sans-serif;
            font-size: 20px;
            max-width: 450px;
            line-height: 140%;
            margin-bottom: 1.5em;
        }
    }
}
.home-cat-card{
    position: relative;
    display: block;
    padding: 1.2em 1.5em;
    border-radius: 10px;
    transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

    &[data-index=c-0]{
        background: #EFD3D7;
    }
    &[data-index=c-1]{
        background: #EFF7F6;
    }
    &[data-index=c-2]{
        background: #E7FEE9;
    }
    &[data-index=c-3]{
        background: #E3DDD6;
    }

    &:hover{
        transform: scale(0.95);
        filter: brightness(93%);
    }

    .im{
        width: 100%;
        padding-top: 45%;
        position: relative;

        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    span{
        display: block;
        margin: 0 auto;
        background: white;
        max-width: max-content;
        border-radius: 100px;
        padding: 5px 20px;
        font-size: 16px;
        font-weight: 400;
        margin-top: 15px;
    }
}
.home-cat-area{
    padding: 10px;
}
.home-cat-list{
    position: relative;
    

    li{
        
        button{
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 15px 2em;
            background: #EFF0EF;
            border-radius: 100px;
            transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            margin-bottom: 12px;
            min-width: max-content;

            &:hover{
                background: #e2e2e2;
            }

            &.active{
                background: $gr;

                span{
                    color: $white;
                }
            }

            span{
                font-size: 16px;
                color: #5C5C5C;
                font-weight: 500;
                pointer-events: none;
            }
        }
    }
}
.le_offer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 1.2em;

    >*{
        padding-top: 50%;
        position: relative;
        display: block;
        overflow: hidden;
        border-radius: 1.2em;
        grid-column: span 2;

        &:nth-child(1){
            grid-column: span 2;
            grid-row: span 2;
        }

        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: coevr;
            object-position: center;
        }
    }
}
.brand-swiper{

    .swiper-slide{
        height: calc((100% - 30px) / 2) !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.brand-wrapper{
    position: relative;
    background: transparent;
    border-radius: 16px;
    overflow: hidden;
    padding-top: 26%;
    width: 100%;

    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        text-align: center;
    }
}

.le_pr-image-card-container{
    position: relative;
    cursor: pointer;
    
    .le_pr-image-card-image{
        position: relative;
        padding-top: 65%;

        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.swiper-button-prev, .swiper-button-next{
    $ss: 50px;
    width: $ss !important;
    height: $ss !important;
    border-radius: 50%;
    background: $white !important;
    z-index: 9;
    opacity: 1 !important;
    box-shadow: 0px 4.45283px 5.56604px rgba(0, 0, 0, 0.25);

    &:after{
        display: none !important;
    }

    &:before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        transform: translate(-60%, -45%);
        
    }
}
.swiper-button-prev{
    
    &::before{
        background: url(/images/prev.svg) center/contain no-repeat;
    }
}
.swiper-button-next{
    
    &::before{
        background: url(/images/next.svg) center/contain no-repeat;
        transform: translate(-40%, -45%);
    }
}
.testimonial-sec{
    position: relative;
    background: url(/images/testimonials-bg.jpg) center/cover no-repeat;
}
.test-nav{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 2.3em;
    margin-bottom: 1.8em;

    >*{
        position: static !important;
        transform: translate(0px, 0px) !important;
        display: block !important;
    }
}
.testimonial-video-wrapper{
    position: relative;
    border-radius: 16px;
    padding: 1.2em;
    background: white;

    .testimonial-video-container{
        width: 100%;
        padding-top: 60%;
        position: relative;

        >*{
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
            object-fit: cover;
            object-position: center;
        }
    }
}
.rating-container{
    display: flex;
    align-items: center;
    gap: 2px;
}
.testimonial-det-wrapper{
    position: relative;
    background: white;
    padding: 1em;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;

    .test-det{
        display: flex;
        align-items: center;
        gap: 15px;

        .test-pr{
            $ss: 50px;
            width: $ss;
            height: $ss;
            border-radius: 50%;
            overflow: hidden;
            position: relative;

            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .test-dt{
            position: relative;
        }
    }
}
.brand-swiper-container{
    margin-top: 3em;
    
    .swiper{
        height: 15em;
    }
}
.le_pr-inner-image-block{
    position: relative;
    width: 100%;
    padding-top: 100%;
    border: 1px solid rgba($color: #000000, $alpha: 0.12);
    cursor: pointer;
    
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
.main-img-show{
    border: 1px solid rgba($color: #000000, $alpha: 0.12);
}
.le_pr-inner-main-slider{
    position: relative;

    .swiper{
        height: 25em;
    }
}
.price-wrapper{
    position: relative;

    p{
        font-size: 28px;
        font-weight: 600;

        span{
            font-size: 14px;
            font-weight: 400;
            color: $text;
        }
    }
}
.act-msg{
    position: relative;
    margin: 1em 0px;
    border-radius: 100px;
    display: inline-block;
    padding: 8px 25px;

    p{
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 500;
    }

    &.suc{
        background: hsla(144, 100%, 97%, 1);
        color: hsla(142, 69%, 43%, 1);
        border: 1px solid hsla(142, 69%, 43%, 1);
    }
}
.color-selector{
    position: relative;
    width: 50px;
    cursor: pointer;
    user-select: none;


    input{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;

        &:checked ~ label{

            .color{

                &:after{
                    transform: scale(1.2);
                    opacity: 1;
                }
            }
        }
    }

    label{
        position: relative;
        cursor: pointer;
        user-select: none;

        .color{
            $ss: 50px;
            width: $ss;
            display: block;
            height: $ss;
            border-radius: 50%;
            margin-bottom: 0.5em;
            position: relative;

            &:after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 2px solid #22B95B;
                transform: scale(0.5);
                opacity: 0;
                transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
        }

        p{
            margin-bottom: 0;
            text-align: center;
            color: $text;
            font-size: 14px;
            line-height: 130%;
        }
    }
}
.form-group{
    width: 100%;
    position: relative;

    .input-grp{
        width: 100%;

        input{
            width: 100%;
            padding: 12px 15px;
            border-radius: 5px;
            border: 1px solid rgba($color: #000000, $alpha: 0.2);
            outline: none;
            background: white;
            transition: 0.2s ease-in-out;

            &::placeholder{
                color: rgba($color: #000000, $alpha: 0.2);
                font-size: 14px;
                opacity: 1;
                transition: 0.2s ease-in-out;
            }

        }
    }
}
.checkpincode-wrapper{
    position: relative;
    max-width: 330px;

    >button{
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        text-transform: uppercase;
        font-size: 16px;
        color: #22B95B;
        font-weight: 500;
    }

    input{

        &:focus{
            border: 1px solid rgba($color: #22B95B, $alpha: 1.0);
            box-shadow: 0px 0px 5px 0px rgba($color: #22B95B, $alpha: 0.5);

            &::placeholder{
                color: rgba($color: #000000, $alpha: 0.5);
            }
        }
    }
}
.pointer-list{
    position: relative;

    li{
        $ss: 20px;
        position: relative;
        padding: 10px 0px;
        padding-left: $ss + 15px;
        color: $text;
        font-size: 16px;
        
        &:after{
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: $ss;
            height: $ss;
            background: url(/images/tick.svg) center/contain no-repeat;
        }
    }
}
.archive-pr-wrapper{
    position: relative;

    .searched-text{
        position: relative;
        font-size: 42px;
        margin-bottom: 0.35em;
    }
}
.flt-ot-bar{
    position: relative;
    padding: 0.8em 0px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
}
.css-qbdosj-Input{
    color: black !important;
    font-size: 16px !important;
    font-weight: 600 !important;
}
.filter-side-bar{
    position: relative;
    border-right: 1px solid rgba($color: #000000, $alpha: 0.2);
    height: 100%;
    padding-right: 1em;
}
.filter-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);

    h3{
        font-size: 42px;
    }

    button{
        color: $blue;
        text-decoration: underline;
        font-weight: 500;
        font-size: 16px;
    }
}
.css-1u9des2-indicatorSeparator{
    background: transparent !important;
}
.css-1nmdiq5-menu{
    background: white !important;
    z-index: 9 !important;
    // border-radius: 30px;
    // overflow: hidden;

    >div{
        border-radius: 25px !important;
    }
    
    >div >div{
        background: white !important;
        color: black;
        font-size: 14px;

        &:hover{
            background: #e9e9e9;
        }
    }
}
.filter-card{

    h4{
        font-size: 16px !important;
        font-weight: 600;
    }
}
.im-cus-radio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.im-cus-radio{
    position: relative;


    input{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }

    input:checked ~ label{
        border: 1px solid #19CFFD;
        // box-shadow: 0px 0px 0px 3px rgba(25, 207, 253, 0.3);
    }

    label{
        position: relative;
        z-index: 5;
        width: 100%;
        // max-width: 300px;
        // min-width: 90px;
        aspect-ratio: 1 / 1;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.05s ease-in-out;

        &:hover{
            background: #fbfbfb;
        }

        &:active{
            background: #ececec;
        }

        .ic{
            width: 35px;
            height: 35px;
            margin-bottom: 10px;

            svg, img{
                width: 100%;
                height: 100%;
            }
        }

        p{
            font-size: 14px;
            line-height: 100%;
            /* identical to box height, or 14px */
            color: #2B2B2B;
            margin-bottom: 0;
            text-align: center;
        }
    }

}
.cus-checkbox-wrapper{
    position: relative;

    input{
        position: absolute;
        top: 0;
        opacity: 0;

        &:checked ~ label{

            &:after{
                background: $gr;
            }
        }
    }

    label{
        position: relative;
        padding: 0.5em 0px;
        display: block;
        $ss: 25px;
        padding-left: $ss + 10px;
        cursor: pointer;
        user-select: none;

        span{
            font-size: 16px;
            color: #4E4E4E;
            display: inline-block;
        }

        &:after{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: $ss;
            height: $ss;
            transform: translateY(-50%);
            background: #FCFCFC;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 3px;
        }

        &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: $ss;
            height: $ss;
            background: url(/images/white-tick.svg) center/50% 50% no-repeat;
            z-index: 5;
        }
    }
}
.step-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $dark;
    padding: 1.5em 3em;
    z-index: 5;

    p{
        color: white;
        margin-bottom: 0;
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
    }
    
    .close{
        position: absolute;
        position: absolute;
        right: 3em;
        top: 50%;
        transform: translateY(-50%);
    }
}
.inner-steps{

    &.last-step{

        @media(min-width: 1200px){
            .container{
                max-width: 100% !important;
            }
            .l-part{
                padding-left: 20%;
            }
        }

        .r-part{
            padding: 6em 1em !important;
        }
    }

     >.container{

        >.grid{
            min-height: 100vh;
            
            .l-part{
                border-right: 1px solid rgba(0,0,0,0.20);
                position: sticky;
                top: 3em;
                align-self: flex-start;
            }

            .r-part{
                padding-left: 5em;
            }

            >div{
                padding-top: 6em;
                padding-bottom: 6em;
            }
        }
     }
}
.le_step-product{
    position: relative;
    max-width: 500px;

    .le_pr-con-wrap{
        border-radius: 12px;
        border: 1px solid rgba(0, 0, 0, 0.20);
        background: #FFF;
        padding: 1.5em 2em;
    }
    
}
.step-bt-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.65em 1.5em;
    background: #FCFCFC;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.2);
    gap: 1.4em;
    z-index: 5;
}
.main-footer{
    // display: none;
}
.le_radio-check{
    position: relative;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #FCFCFC;
    transition: 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);

    &:hover{
        
        filter: brightness(95%);
    }

    &:active{
        transform: scale(0.95);
        
    }

    input{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;

        &:checked ~ label{
            border: 1px solid #22B95B;
            background: #FCFCFC;

            span{

                &:after{
                    transform: scale(1);
                }
            }
        }
    }
    
    label{
        display: flex;
        align-items: center;
        gap: 25px;
        cursor: pointer;
        padding: 1.2em 1.5em;
        user-select: none;

        h3{
            color: #000;
            font-size: 17px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
        }

        p{
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 120%;
            margin-bottom: 0;
            margin-top: 0.35em;
        }

        span{
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, 0.20);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 1.5em;

            &::after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background: url(/images/radio-check.svg) center/contain no-repeat;
                transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transform: scale(0);
            }
        }
    }

    .ic{
        width: 50px;
        height: 50px;

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
}
.lens-type-select-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
    height: 100%;
}
.l-t-tabs{
    
    ul{
        display: flex;
        align-items: center;
        gap: 15px;
        flex-wrap: wrap;

        li{

            button{
                position: relative;
                padding: 0.75em 2em;
                border-radius: 100px;
                text-align: center;
                background: #F2F2F2;
                font-weight: 600;
                outline: none;
                border: none;
                transition: 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                box-shadow: none;
        
                &.active{
                    background: $green;
                    color: white;
                }
            }
        }
    }

}
.lens-det-card{
    position: relative;
    margin-bottom: 15px;

    input{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;

        &:checked ~ label{
            border-radius: 12px;
            border: 1px solid #22B95B;
            background: #FCFCFC;
            box-shadow: 0px 0px 0px 5px rgba(34, 185, 91, 0.20);
            
            &:after{
                background: #22B95B;
                box-shadow: 0px 0px 0px 3px #22B95B;
            }
        }

    }

    label{
        border-radius: 12px;
        border: 1px solid rgba(0, 0, 0, 0.20);
        background: #FCFCFC;
        padding: 1.2em 1.5em;
        display: block;
        width: 100%;
        transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        cursor: pointer;

        &:hover{
            filter: brightness(95%);
        }

        &:after{
            content: '';
            $ss: 25px;
            height: $ss;
            width: $ss;
            border-radius: 50%;
            border-radius: 12px;
            border: 4px solid white;
            background: #BABABA;
            top: 50%;
            right: 1.5em;
            position: absolute;
            transform: translateY(-50%);
            box-shadow: 0px 0px 0px 3px #BABABA;
        }

        .title{
            color: #262626;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            margin-bottom: 8px;
        }

        .para{
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            margin-bottom: 8px;

            span{
                color: #6F6F6F;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
            }

            .view-more{
                color: #10A6E7;
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                cursor: pointer;
                
                &:hover{
                    text-decoration: underline;
                }
            }
        }

        .price{
            color: #22B95B;
            font-size: 23px;
            font-weight: 600;

            span{
                color: #6A6A6A;
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
}
.le_offer-tag{
    position: relative;
    display: inline-block;
    padding: 0.3em 1em;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    margin-left: 10px;

    &.moderate{
        background: #E5A13C !important;
    }
}
.le_cus-radio{
    position: relative;
    padding: 0.85em 0px;

    input{
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        pointer-events: none;

        &:checked ~ label{

            &:after, &::before{
                background: #22B95B;
            }

            p:not(.price){
                color: #000000;
            }
        }
    }

    label{
        position: relative;
        display: flex;
        align-items: flex-end;
        gap: 8px;
        padding-left: 2.3em;
        cursor: pointer;
        
        &:after, &:before{
            width: 25px;
            height: 25px;
            border-radius: 50%;
        }
        &:after{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background: #BABABA;
        }
        &:before{
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%) scale(0.8);
            left: 0px;
            background: #BABABA;
            border: 5px solid white;
            z-index: 5;
        }

        p{
            color: #656565;
            font-size: 16px;
            font-weight: 500;
            line-height: 120%;
        }

        .price{
            font-size: 16px;
            font-weight: 400;
            color: #22B95B;

            span{
                font-size: 14px;
                color: #6A6A6A;
            }
        }
    }
}
.sm-head{
    color: #272727;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.color-radio{
    position: relative;

    input{
        position: absolute;
        opacity: 0;
        pointer-events: none;

        &:checked ~ label{
            border-radius: 12px;
            border: 1px solid #22B95B;
            background: #FFF;
            box-shadow: 0px 0px 0px 5px rgba(34, 185, 91, 0.20);
        }
    }

    p{
        text-align: center;
        margin-bottom: 0;
        color: #6C6C6C;
        font-size: 14px;
        font-weight: 400;
        line-height: 120%;
        margin-top: 5px;
    }
    
    label{
        border-radius: 12px;
        border: 1px solid rgba(0, 0, 0, 0.20);
        background: #FFF;
        display: block;
        padding: 1em;
        transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        cursor: pointer;

        span{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            display: block;
            margin: 0 auto;
        }
    }
}
.color-radio-wrap{
    display: flex;
    align-items: stretch;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 1.2em;
}
.radio-tabs{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1.2em;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
    // overflow-x: auto;
    // overflow-y: hidden;
    gap: 10px;
    // padding: 0.5em 0.5em;
    // margin-top: 1.2em;
    // margin-left: -0.5em;

    li{

        button{
            position: relative;
            background: transparent;
            padding: 0.55em 0.75em;
            padding-left: 3em;
            border-radius: 5px;
            text-align: left;
            border: 1px solid #A0A0A0;
            min-width: max-content;
            transition: 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);

            &.active{
                border: 1px solid #1FACCF;
                background: #FFF;
                box-shadow: 0px 0px 0px 3px rgba(31, 172, 207, 0.25);

                &:after,&:before{
                    background: #1FACCF;
                }

                span{
                    color: #1FACCF;
                }
            }

            &:after{
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 23px;
                height: 23px;
                border-radius: 50%;
                background: #A0A0A0;
                left: 0.75em;
            }

            &:before{
                content: '';
                position: absolute;
                top: 50%;
                width: 23px;
                height: 23px;
                transform: translateY(-50%) scale(0.85);
                left: 0.75em;
                background: #A0A0A0;
                border: 4px solid white;
                border-radius: 50%;
                z-index: 5;
            }

            span{
                color: #1E1E1E;
                text-transform: uppercase;
                text-align: left;
                font-size: 14px;
            }
        }
    }
}
.re-le-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.op-row{
    display: flex;
    width: 100%;

    .op-cell{
        min-width: 50px;
        display: flex;
        flex: 1 1 30%;
        align-items: center;
        min-height: 45px;

        &:first-child{
            flex: 1 1 10%;
        }

        p{
            margin-bottom: 0;
            font-weight: 600;
            font-size: 16px;
        }
    }

    input{
        border: 1px solid rgba(0, 0, 0, 0.20);
        background: #FFF;
        padding: 0.8em 0.8em;
        width: 100%;
        outline: none;
        transition: 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        position: relative;
        font-size: 14px;
        font-weight: 500;

        &:focus{
            border: 1px solid #19CFFD;
            box-shadow: 0px 0px 0px 3px rgba(31, 172, 207, 0.25);
            z-index: 5;
        }
    }
}
.e-wr{
    position: relative;

    span{
        font-weight: 600;
        font-size: 18px;
    }
}
.sm-text{
    font-size: 14px;
    font-weight: 300;
    color: #828282;
    font-style: italic;
}
.big-upload-btn{
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: var(--green-gr, #21D0B5);
    padding: 1.2em 2.5em;
    padding-left: 2em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);

    &:hover{
        filter: brightness(105%);
        box-shadow: 0px 0px 15px 0px rgba($color: #000000, $alpha: 0.15);
    }
    
    span{
        font-size: 18px;
        font-weight: 500;
        color: white;
        min-width: max-content;
    }
}
.le-points{
    position: relative;

    li{
        position: relative;
        padding-left: 30px;
        color: #1E1E1E;
        font-weight: 400;
        font-size: 16px;

        &:after{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 25px;
            height: 25px;
            background: url(/images/le-check.svg) center/contain no-repeat;
        }
    }
}
.hw-step{
    position: relative;

    h3{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .para{
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 15px;
    }

    .hw-step-img{
        width: 100%;
        padding-top: 75%;
        background: #EAEAEA;
        position: relative;

        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}
.le_pr-image-swiper{
    
    >.swiper{
        padding-bottom: 20px !important;
        padding-top: 20px !important;
    }
}
.apply-offer-strip{
    position: relative;
    display: flex;

    span{
        font-size: 18px;
        font-weight: 500;
        color: white;
    }
}
.apply-offer-strip{
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    background: linear-gradient(#00A0E3, #0DAEF1);
    padding: 1em 1em;
    border-radius: 5px;
    cursor: pointer;

    &:after{
        content: '';
        width: 80px;
        height: 28px;
        background: url(/images/arrow-bx.svg) center/contain no-repeat ;
        position: absolute;
        top: 50%;
        right: 1em;
        transform: translateY(-50%);
        z-index: 5;
    }

    input{
        outline: none;
        border: none ;
        box-shadow: none !important;
        min-height: 70px;
        background: transparent;
        color: white;
        font-weight: 600;
        font-style: italic;
        font-size: 18px;
        margin-left: 15px;
        margin-right: 10px;

        &::placeholder{
            color: white;
            opacity: 1;
            
        }
        
    }

    a{
        border: 1px solid white;
        border-radius: 5px;
        text-align: center;
        color: white;
        font-size: 16px;
        font-style: italic;
        background: transparent;
        font-weight: 500;
        padding: 0.5em 1em !important;

        &:hover{
            background: white;
            color: $dark;
        }
    }
}
.it-head{
    color: #434242;
    font-size: 32px;
    font-style: italic;
    font-weight: 600;
    line-height: 140%;
}
.info-line{

    span{
        color: #434242;
        font-size: 164x;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    }
}
.cart-page{
    background: #FCFCFC;
}
.form-group{
    position: relative;

    .inp-grp{
        position: relative;
        
        input, textarea, select{
            width: 100%;
            padding: 0.7em 1em ;
            border-radius: 10px;
            border: 1px solid var(--grey-20, #D9DADA);
            background: #FFF;
            outline: none !important;
            transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

            &:focus{
                border: 1px solid var(--blue, #00A0E3);
                background: #FFF;
                box-shadow: 0px 0px 8px 0px rgba($color: #00A0E3, $alpha: 0.15);
            }
        }
    }
}
.cart-total-btn{
    padding: 0;
    max-width: max-content;
    border-bottom: none !important;

    .it-head{
        display: inline-block;

        span{
            color: $blue;
        }
    }
}
.cart-item{
    position: relative;
    border-radius: 10px;
    padding: 1.5em;
    background: #FFF;
    border: 1px solid rgba($color: #000000, $alpha: 0.15);

    &:not(:last-child){
        margin-bottom: 15px;
    }

    .cart-img{
        position: relative;
        $ss: 100px;
        width: $ss;
        height: $ss;
        min-width: $ss;
        min-height: $ss;
        border-radius: 10px;
        border: 1px solid rgba($color: #000000, $alpha: 0.08);
        background: #D9D9D9;
        overflow: hidden;
    }

    .cart-det{
        position: relative;

        h3{
            color: var(--dark-graphite, #434242);
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 100%;
            margin-bottom: 8px;
        }

        p:not(.price){
            color: var(--text, #6A6A6A);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            margin-bottom: 0;
        }
    }

    .delete-btn{
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 7px;
        border: 1px solid var(--error, #F2254A);
        padding: 7px 10px;
        max-width: max-content;

        span{
            color: var(--error, #F2254A);
            font-size: 12px;
            font-style: italic;
            font-weight: 600;
            line-height: 100%;
        }
    }

    .price{
        color: var(--blue, #00A0E3);
        font-size: 18px;
        font-style: italic;
        font-weight: 700;
        line-height: 100%;
    }
}
.mb-0{
    margin-bottom: 0 !important;
}
.cus-acc{

    >button{
        border-bottom: 0px !important;
    }
    >div{
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.15);
        
        >div{
            padding-top: 0 !important;
        }
    }

}
.lg-tabs{

    >div > div{
        padding: 1em 0px !important;
        padding-bottom: 0 !important;
    }
}
.lg-form-wrapper{

    .form-group{
        margin-bottom: 0 !important;
    }
}
.verify-input{
    position: relative;

    button{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0.65em;
    }
}
.verify-btn{
    position: relative;
    display: inline-block;
    background: $green;
    padding: 0.3em 1em;
    border-radius: 8px;
    text-align: center;

    span{
        font-weight: 600;
        font-size: 14px;
        color: white;
    }
}
.lg-tabs{
    position: relative;

    nav{
        
        ul{
            border-radius: 100px;
        }

        li{
            padding: 0.75em 1em !important;

            >div:nth-child(2){
                border-radius: 100px;
                background: $green;
            }

            div{
                font-weight: 600;
                font-size: 16px;
            }
        }
    }
}
.pass-input{
    position: relative;

    button{
        position: absolute;
        top: 50%;
        right: 1em;
        transform: translateY(-50%);
        z-index: 5;
    }
}
.img-fill{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.error-message{
    color: $error;
    font-weight: 500;
    font-size: 14px;
    margin-top: 3px;
}
.bread-crumbs{
    display: flex;
    align-items: center;

    li{
        position: relative;

        &:last-child{

            h1{

                &:after{
                    display: none;
                }
            }
        }

        h1{
            font-size: 26px;

            &:after{
                content: '/';
                display: inline-block;
                margin: 0px 10px;
    
            }
        }
    }
}
.reg-success-wrap{
    position: relative;
    text-align: center;
    margin: 2.5em 0px;

    h2{
        font-size: 20px;
        color: #22B95B;
        font-weight: 700;
        margin-bottom: 0px;
    }

    img{
        display: block;
        max-width: max-content;
        margin: 0 auto;
        margin-bottom: 15px;
    }
}
.modal-close-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f3f3;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    z-index: 5;

    svg{
        fill: rgb(63, 63, 63);
    }
}
.pagination{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;

    li{

        a{
            display: inline-block;
            cursor: pointer;
            min-width: 30px;
            min-height: 30px;
            font-size: 14px;
            text-align: center;
            line-height: 30px;
            font-weight: 500;
            border-radius: 5px;
        }

        &.selected{

            a{
                background: #21D0B5;
                color: white;
            }
        }
    }

    .previous, .next{
        padding: 10px ;
        text-transform: uppercase;
        text-decoration: underline !important;
    }
}
.c-table{
    width: 100%;

    tr{

        &:nth-child(even){
            background: rgba($color: #000000, $alpha: 0.02);
        }
    }

    td, th{
        padding: 0.65em;
        border: 1px solid rgba($color: #000000, $alpha: .05);
    }

    @media(max-width:600px){

        thead{
            display: none !important;
        }

        td{
            display: flex;
            text-align: left;
            align-items: center;

            &::before{
                content: attr(data-value);
                font-size: 14px;
                font-weight: 500;
                width: 50%;
                min-width: 50%;
            }
        }
    }
}
.thumb-slider{
    padding-right: 3px !important;
}
.main-image-show{
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    padding-top: 100%;
    position: relative;

    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
.counter-wrapper{
    position: relative;
    display: flex;
    $ss: 35px;
    border-radius: 100px;
    overflow: hidden;
    $border: 1px solid rgba($color: #000000, $alpha: .15);
    border: $border;
    max-width: max-content;

    button, input{
        width: $ss;
        height: $ss;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        outline: none;
        border: none;
        box-shadow: none;
        font-size: 16px;
        font-weight: 500;
    }

    button{
        background: transparent;
        outline: none;
        box-shadow: none;
        border: none;
        
        &[data-action=inc]{
            border-left: $border;
        }
        &[data-action=dec]{
            border-right: $border;
        }

        span{
            pointer-events: none;
        }
    }
}
.error-code-bar{
    position: relative;
    padding: 5px 10px;
    padding-right: 15px;    
    border: 1px solid #f22525;
    border-radius: 8px;
    max-width: max-content;

    svg path{
        fill: #f22525;
    }

    span{
        font-size: 14px;
        font-weight: 500;
        color: #f22525;
    }
}
.status{
    padding: 5px 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: max-content;
    font-weight: 500;

    &.success{
        background: rgba(14, 118, 18, 0.05);
        border: 1px solid #0e7612;
        color: #0e7612;
    }
    &.failed{
        background: rgba(203, 53, 16, 0.05);
        border: 1px solid #cb3510;
        color: #cb3510;
    }
}
.apply-coupon-wrap {
    display: flex;
    align-items: center;
    gap: 12px;
}
.coupons-list{
    margin-top: 1.2em;
}
.coupon-wrap{
    width: 100%;
    position: relative;
    cursor: pointer;
    border: 1px solid #a47e1b;
    border-radius: 8px;
    padding: 1.3em 1em;
    background: #f9f8f3;
    margin-bottom: 0.5em;

    &.disabled{
        background: #fafafa;
        border: 1px solid #9c9c9c;
        opacity: 0.85;
        cursor: not-allowed;

        .apply{
            color: #7f7f7f;
        }
    }

    h3{
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 8px;
        color: $dark;
    }

    p{
        color: #808080;
        font-size: 14px;
        line-height: 140%;
        margin-bottom: 0;
    }

    .apply{
        position: absolute;
        top: 1.2em;
        right: 1.2em;
        font-size: 14px;
        font-weight: 500;
        color: #a47e1b;
    }
}