@media(max-width: 991px){
    .main-nav-main .bottom-nav{
        display: none;
    }
    .main-nav{
        gap: 5px !important;
        padding: 1.15em 1em !important;
    }
    .header-action-btn{
        width: 60px;
        
    }
    .main-nav .header-search-bar-container{
        width: 150px;
        display: none;
    }
    .header-cart-btn span{
        right: 6px;
    }
    .main-nav .l-part img{
        width: 130px;
    }
    .header-search-bar-container{
        width: 100%;
    }
    .mega-menu-inner{
        grid-template-columns: 1fr !important;
        padding: 0.8em 1em !important;
    }
    .mega-menu-wrapper .mega-menu-inner h3{
        font-size: 17px;
        margin-bottom: 0.35em;
    }
    .mega-menu-wrapper{
        position: static;
        opacity: 1;
        pointer-events: unset;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        transform: translate(0px , 0px) !important;
    }
    .mega-menu-wrapper .mega-menu-inner ul li a .ic{
        width: 35px;
        height: 35px;
    }
    .mega-menu-wrapper .mega-menu-inner .col:not(:last-child){
        border-right: none !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .main-banner .banner-content{
        padding-left: 0;
    }
    .main-banner .banner-content h1{
        font-size: 42px;
    }
    .main-banner .banner-content p{
        font-size: 16px;
        margin-bottom: 1em;
    }
    .home-cat-pr-slider > .swiper{
        padding: 0 !important;
        padding-top: 0.2em !important;
    }
    .home-cat-pr-slider{
        margin-top: 1.2em;
    }
    .sec-head h2{
        font-size: 40px;
    }
    .home-cat-list{
        display: flex;
        flex-wrap: nowrap;
        gap: 15px;
        overflow-x: auto;
        overflow-y: hidden;

        li{

            a{
                min-width: max-content;
            }
        }
    }
}
@media(max-width:600px){
    .inner-steps > .container > .grid .l-part{
        display: none;
    }
    .inner-steps > .container > .grid .r-part{
        padding-left: 0;
    }
    .step-header .close{
        right: 1.5em;
    }
    .le_offer-tag.moderate{
        margin-left: 0 !important;
    }
    .cart-item{
        padding: 1em;
    }
    .cart-item .cart-img{
        width: 50px;
        height: 50px;
    }
    .cart-det {
        >.flex{
            flex-wrap: wrap;
           
            >.flex{
                flex-direction: row;
                height: auto;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                margin-top: 1em;
            }
        }
    }
    .lens-det-card label{
        padding-right: 3em;
    }
    .main-btn.big{
        padding: 1.2em 2.3em;
    }
    .step-header p{
        text-align: left;
    }
    .step-header{
        padding: 1.5em 1em;
    }
    .archive-pr-wrapper .searched-text{
        font-size: 24px;
        line-height: 120%;
    }
    .step-bt-bar{
        gap: 0.5em;
        padding: 0.65em 1em;

        >*{
            flex: 1 1 auto;
        }
    }
    .filter-side-bar{
        padding-right: 0;
        border-right: 0px !important;
    }
    .le_offer-grid{
        grid-template-columns: 1fr;

        >*{
            grid-column: span 1 !important;

            &:first-child{
                grid-row: span 1 !important; 
            }
        }
    }
    .le_pr-inner-main-slider .swiper{
        height: auto;
        padding-bottom: 3px;
    }
    .le_tabs-header{
        overflow-x: auto;
        overflow-y: hidden;
        justify-content: flex-start;
    }
    .sec{
        padding: 2em 0px;
    }
    .act-msg p{
        font-size: 14px;
    }
}