@import './globals.scss';
@import './navbar.scss';

.main-footer{
    position: relative;
    background: $dark;
    padding: 5em 0px;
    padding-bottom: 0;
}

.ft-head{
    font-size: 20px;
    font-weight: 600;
    color: $white;
    margin-bottom: 10px;
}

.ft-content{
    position: relative;
    margin: 1.5em 0px;

    p.para{
        color: $white;
        opacity: 0.45;

    }
}

.newsletter-container{
    position: relative;
    display: flex;
    align-items: stretch;
    gap: 10px;

    input{
        padding: 12px 20px;
        border-radius: 100px;
        border: 1px solid #FFFFFF;
        background: transparent;

        &::placeholder{
            color: white;
            opacity: 0.65;
            font-size: 14px;
        }
    }

    button{
        padding: 12px 30px;
        text-transform: uppercase;
        color: $dark;
        background: $gr;
        border-radius: 100px;
        font-weight: 500;
        font-size: 14px;
        
    }
}
.ft-list{

    li{

        a{
            display: inline-block;
            color: white;
            padding: 10px 0px;
            font-size: 14px;
            font-weight: 600;
            opacity: 0.65;
        }
    }
}

.ft-logo{
    position: relative;
    width: 140px;
    display: inline-block;

    img{
        width: 100%;
    }
}
.ft-bottom{
    margin-top: 5em;
    background: #061618;
    padding: 23px 0px;

    .para{
        font-size: 14px;
        margin-bottom: 0;

        a{
            color: $green;
        }
    }
}

.main-banner{
    position: relative;
    width: 100%;
    min-height: 62vh;
    transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

    .container, .banner-inner-area{
        min-height: 62vh;
    }

    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .banner-content{
        position: relative;
        z-index: 5;
        padding: 3em 0px;
        padding-left: 20%;

        h1{
            font-size: 68px;
            font-weight: 400;
            font-family: 'sansburg', sans-serif;
            line-height: 100%;
            margin-bottom: 0.25em;

            span{
                color: rgba($color: #000000, $alpha: 0.65);
            }
        }

        p{
            font-family: 'sansburg', sans-serif;
            font-size: 20px;
            max-width: 450px;
            line-height: 140%;
            margin-bottom: 1.5em;
        }
    }
}
.home-cat-card{
    position: relative;
    display: block;
    padding: 1.2em 1.5em;
    border-radius: 10px;
    transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

    &:hover{
        transform: scale(0.95);
        filter: brightness(93%);
    }

    .im{
        width: 100%;
        padding-top: 45%;
        position: relative;

        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    span{
        display: block;
        margin: 0 auto;
        background: white;
        max-width: max-content;
        border-radius: 100px;
        padding: 5px 20px;
        font-size: 16px;
        font-weight: 400;
        margin-top: 15px;
    }
}
.home-cat-area{
    padding: 10px;
}
.home-cat-list{
    position: relative;

    li{
        
        button{
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 15px 2em;
            background: #EFF0EF;
            border-radius: 100px;
            transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            margin-bottom: 12px;

            &:hover{
                background: #e2e2e2;
            }

            &.active{
                background: $gr;

                span{
                    color: $white;
                }
            }

            span{
                font-size: 16px;
                color: #5C5C5C;
                font-weight: 500;
            }
        }
    }
}
.le_offer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 1.2em;

    >*{
        padding-top: 50%;
        position: relative;
        display: block;
        overflow: hidden;
        border-radius: 1.2em;
        grid-column: span 2;

        &:nth-child(1){
            grid-column: span 2;
            grid-row: span 2;
        }

        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: coevr;
            object-position: center;
        }
    }
}
.brand-swiper{

    .swiper-slide{
        height: calc((100% - 30px) / 2) !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.brand-wrapper{
    position: relative;
    background: #F6F6F6;
    border-radius: 16px;
    overflow: hidden;
    padding-top: 35%;
    width: 100%;

    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        text-align: center;
    }
}

.le_pr-image-card-container{
    position: relative;
    cursor: pointer;
    
    .le_pr-image-card-image{
        position: relative;
        padding-top: 65%;

        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.swiper-button-prev, .swiper-button-next{
    $ss: 50px;
    width: $ss !important;
    height: $ss !important;
    border-radius: 50%;
    background: $white !important;
    z-index: 9;
    opacity: 1 !important;
    box-shadow: 0px 4.45283px 5.56604px rgba(0, 0, 0, 0.25);

    &:after{
        display: none !important;
    }

    &:before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        transform: translate(-60%, -45%);
        
    }
}
.swiper-button-prev{
    
    &::before{
        background: url(../../images/prev.svg) center/contain no-repeat;
    }
}
.swiper-button-next{
    
    &::before{
        background: url(../../images/next.svg) center/contain no-repeat;
        transform: translate(-40%, -45%);
    }
}
.testimonial-sec{
    position: relative;
    background: url(../../images/testimonials-bg.jpg) center/cover no-repeat;
}
.test-nav{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 2.3em;
    margin-bottom: 1.8em;

    >*{
        position: static !important;
        transform: translate(0px, 0px) !important;
        display: block !important;
    }
}
.testimonial-video-wrapper{
    position: relative;
    border-radius: 16px;
    padding: 1.2em;
    background: white;

    .testimonial-video-container{
        width: 100%;
        padding-top: 60%;
        position: relative;

        >*{
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
            object-fit: cover;
            object-position: center;
        }
    }
}
.rating-container{
    display: flex;
    align-items: center;
    gap: 2px;
}
.testimonial-det-wrapper{
    position: relative;
    background: white;
    padding: 1em;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;

    .test-det{
        display: flex;
        align-items: center;
        gap: 15px;

        .test-pr{
            $ss: 50px;
            width: $ss;
            height: $ss;
            border-radius: 50%;
            overflow: hidden;
            position: relative;

            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .test-dt{
            position: relative;
        }
    }
}
.brand-swiper-container{
    margin-top: 3em;
    
    .swiper{
        height: 15em;
    }
}
.le_pr-inner-image-block{
    position: relative;
    width: 100%;
    padding-top: 100%;
    
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
.le_pr-inner-main-slider{
    position: relative;

    .swiper{
        height: 25em;
    }
}
.price-wrapper{
    position: relative;

    p{
        font-size: 28px;
        font-weight: 600;

        span{
            font-size: 14px;
            font-weight: 400;
            color: $text;
        }
    }
}
.act-msg{
    position: relative;
    margin: 1em 0px;
    border-radius: 100px;
    display: inline-block;
    padding: 8px 25px;

    p{
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 500;
    }

    &.suc{
        background: hsla(144, 100%, 97%, 1);
        color: hsla(142, 69%, 43%, 1);
        border: 1px solid hsla(142, 69%, 43%, 1);
    }
}
.color-selector{
    position: relative;
    width: 50px;
    cursor: pointer;
    user-select: none;

    input{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;

        &:checked ~ label{

            .color{

                &:after{
                    transform: scale(1.2);
                    opacity: 1;
                }
            }
        }
    }

    label{
        position: relative;
        cursor: pointer;
        user-select: none;

        .color{
            $ss: 50px;
            width: $ss;
            display: block;
            height: $ss;
            border-radius: 50%;
            margin-bottom: 0.5em;
            position: relative;

            &:after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 2px solid #22B95B;
                transform: scale(0.5);
                opacity: 0;
                transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
        }

        p{
            margin-bottom: 0;
            text-align: center;
            color: $text;
            font-size: 14px;
            line-height: 130%;
        }
    }
}
.form-group{
    width: 100%;
    position: relative;

    .input-grp{
        width: 100%;

        input{
            width: 100%;
            padding: 12px 15px;
            border-radius: 5px;
            border: 1px solid rgba($color: #000000, $alpha: 0.2);
            outline: none;
            background: white;
            transition: 0.2s ease-in-out;

            &::placeholder{
                color: rgba($color: #000000, $alpha: 0.2);
                font-size: 14px;
                opacity: 1;
                transition: 0.2s ease-in-out;
            }

        }
    }
}
.checkpincode-wrapper{
    position: relative;
    max-width: 330px;

    >button{
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        text-transform: uppercase;
        font-size: 16px;
        color: #22B95B;
        font-weight: 500;
    }

    input{

        &:focus{
            border: 1px solid rgba($color: #22B95B, $alpha: 1.0);
            box-shadow: 0px 0px 5px 0px rgba($color: #22B95B, $alpha: 0.5);

            &::placeholder{
                color: rgba($color: #000000, $alpha: 0.5);
            }
        }
    }
}
.pointer-list{
    position: relative;

    li{
        $ss: 20px;
        position: relative;
        padding: 10px 0px;
        padding-left: $ss + 15px;
        color: $text;
        font-size: 16px;
        
        &:after{
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: $ss;
            height: $ss;
            background: url(../../images/tick.svg) center/contain no-repeat;
        }
    }
}
.archive-pr-wrapper{
    position: relative;

    .searched-text{
        position: relative;
        font-size: 42px;
        margin-bottom: 0.35em;
    }
}
.flt-ot-bar{
    position: relative;
    padding: 0.8em 0px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
}
.css-qbdosj-Input{
    color: black !important;
    font-size: 16px !important;
    font-weight: 600 !important;
}
.filter-side-bar{
    position: relative;
    border-right: 1px solid rgba($color: #000000, $alpha: 0.2);
    height: 100%;
    padding-right: 1em;
}
.filter-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);

    h3{
        font-size: 42px;
    }

    button{
        color: $blue;
        text-decoration: underline;
        font-weight: 500;
        font-size: 16px;
    }
}