.main-nav{
    background: $dark;
    display: flex;
    align-items: center;
    padding: 0px 3em;
    justify-content: space-between;
    $nav-height: 85px;

    &.is-sticky{
        position: sticky;
        top: 0;
        z-index: 999;
        animation: slide-in 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) ;
    }

    .l-part{
        display: flex;
        align-items: center;

        .logo{
            display: inline-block;
            height: $nav-height;

            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    }
    .r-part{
        display: flex;
        align-items: center;
        gap: 0em;

        .nav-list{
            display: flex;
            align-items: center;

            li{

                a{
                    color: white;
                    height: $nav-height;
                    display: inline-block;
                    line-height: $nav-height;
                    padding: 0px 1.2em;
                    font-size: 14px;
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }
        }

        .ot-list{
            display: flex;
            align-items: center;
            
        }
    }
}

@keyframes slide-in {
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}

.header-action-btn{
    $ss: 50px;
    height: $ss;
    width: $ss + 20px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:after{
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(50%);
        right: 0;
        height: 55%;
        width: 1px;
        background: #e2e2e2a2;
        opacity: 0;
    }

    
}

.header-cart-btn{
    
    &:after{
        opacity: 1;
    }

    span{
        position: absolute;
        top: 4px;
        right: 9px;
        $ss: 20px;
        width: $ss;
        height: $ss;
        font-size: 13px;
        font-weight: 600;
        color: $dark;
        background: $green;
        text-align: center;
        line-height: $ss;
        border-radius: 50%;
    }
}

.header-search-bar-container{
    position: relative;
    width: 230px;

    img{
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
    }

    input{
        width: 100%;
        padding: 12px 20px;
        border-radius: 100px;
        background: rgba(255, 255, 255, 0.04);
        border: 1px solid rgba(255, 255, 255, 0.31);
        border-radius: 100px;
        padding-left: 50px !important;
        font-size: 14px;
        text-transform: uppercase;
        outline: none;
        box-shadow: none;
        transition: 0.3s ease-in-out;
        color: white;
        font-weight: 500;


        &:focus{
            border: 1px solid white;
            background: rgba(255, 255, 255, 0.1);
        }

        &::placeholder{
            font-size: 14px;
            text-transform: uppercase;
        }
    }
}